*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
:root{
    --bg-color:rgb(243, 239, 231);
    --main-color:rgb(13, 194, 164);
    --text-color:rgba(199, 199, 166, 0.856);
    --text2-color:rgb(168, 162, 162);
}
header{
    display: flex;
    justify-content: space-between;
   /* border: 1px solid;*/
    padding:15px;
    position:sticky;
    top: 0;
    right: 0;
    z-index: 1000;
    background-color:var(--bg-color);
}
header div,.logo{
    color:var(--main-color);
}
.navbar {
    display:flex;
    gap: 20px;
    }
.navbar a{
    color: cadetblue;
}
.t2{
    display: flex;
    gap: 20px;
}
.menu-icon{
    background-color:var(--bg-color) ;
    border: 0px;
    margin-bottom: 10px;
    cursor: pointer;
    display: none;
}
.menu-icon:focus-within +.toggle{
    display:block;
}
.toggle{
    display: none;
    width: 70px;
    border: 1px solid;
    background-color: rgb(6, 160, 160);
    

}
.toggle>a{
    display: block;
    padding: 10px;
    border: 1px solid;
    background-color: azure;
   
}

.part1{
    background-image: url(./hero.jpg);
    padding: 90px 50%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.part1 input{
    padding: 5px;
}
#search{
    padding: 6px 20px;
    background-color:var(--main-color) ;
}
.part2{
    padding:15px 8% ;
    display: flex;
    justify-content: space-between;
    color: var(--main-color);
}
.pictures{
    display: grid;
    grid-template-columns: repeat(4,300px);
    padding:5px;
    margin-bottom: 40px;
    margin-left: 80px;
}
.c1{
    display: flex;
    gap: 100px;
    font-size: 12px;
    color: var(--text-color);
    margin-bottom: 15px;
}
.part3{
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}
#b3{height: 20px;width: 20px;}
#b2{
    background-color: var(--main-color);
    padding: 15px;
    border:wheat;
    border-radius: 10px;
    color: var(--bg-color);
}
#b1{
    background-color: var(--bg-color);
    padding: 15px;
    border: wheat;
    margin-right: 10px;
    color:rgb(168, 162, 162);
}
#b1:hover{
    background-color: var(--main-color);
    box-shadow: 10px 10px 10px rgb(228, 224, 224);
}
footer{
    display: grid;
    grid-template-columns: repeat(3,300px);
    background-color: var(--bg-color);
    text-align: center;
    justify-content: center;
}
#t1{
    color: var(--main-color);
    margin-bottom: 10px;
    margin-top: 50px;
}
.content{
    color:rgb(168, 162, 162); 
    padding-bottom: 30px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    
}
.social{
    margin-top: 50px;
   /* margin-bottom:20px;*/

}
.end-text{
    background-color: var(--bg-color);
    color:rgb(168, 162, 162); 
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap: 60px;
}
#bt{
    padding: 10px;
    background-color:white;
    border: none;
}
iframe{
    text-decoration: none;
    border: none;
    overflow: hidden;
    overflow: visible;
}
.pictures{
    border: none;
}
@media screen and (max-width:400px){
       .navbar .t2 {
        display:none;
        
        }
        .menu-icon{
    display:block;
       }
       .menu-icon:focus-within .navbar{
                   display: block;
       }
      .pictures{
            display:grid;
            grid-template-columns: repeat(1,300px);
            margin-bottom: 40px;
            margin-left: 20px;
        }
        .part3 div{
         display: grid;
         grid-template-columns: repeat(2,30px);
         gap: 5px;
        }
        footer{
              display: grid;
              grid-template-columns: repeat(1,300px);
              background-color: var(--bg-color);
              text-align: center;
              justify-content: center;
        }
       iframe{
    border: none;
    scrollbar-width: none;
    width: 300px;
    height: 300px;
    flex-shrink: 1;
}
#b2{
   height: 40px;
}

}
